@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

.modal-body {
    /* display: none; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    /* overflow: auto; */
    /* display:  table-cell;      
    vertical-align:  middle;    */
    z-index: 10;
  }

  /* .session-form {
    width: 300px;
    height: 600px;
    padding: 20px 0;
    position: relative;
    z-index: 2;
  } */

  /* .session-form {
    width: 300px;
    height: 600px;
    background: #fff;
    padding: 20px 0;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
  } */

  .wrapper {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
      
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
  }

  .session-form {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
  }

  .signup-session-form {
    padding-top: 0px !important;
  }

  .session-form h2{
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
  }

  .session-form input {
    display: block;
    outline: 0;
    border: 1px solid fade(white, 40%);
    background-color: fade(white, 20%);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    transition-duration: 0.25s;
    font-weight: 300;
    -webkit-appearance: none;
    box-shadow: inset 0 0 0 1px #c8c9ca;
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    border: none;
  }

  .session-form input:hover {
    background-color: fade(white, 40%);
  }

  .session-form input:focus {
    background-color: white;
    /* width: 300px; */
    
    /* color: aqua; */
  }

    
  .session-form button {
      appearance: none;
      outline: 0;
      background-color: white;
      border: 0;
      padding: 10px 15px;
      color: aqua;
      border-radius: 3px;
      width: 250px;
      cursor: pointer;
      font-size: 18px;
      transition-duration: 0.25s;
  }

  .session-form button:hover {
    background-color: rgb(245, 247, 249);
  }

