@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

.modal-body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.wrapper {
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 500px;
    margin-top: -250px;
    overflow: hidden;
    color: white;
    background: rgba(80, 163, 162, 0.3);
    padding-bottom: 50px;
}

.session-form {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-session-form {
    padding-top: 25px !important;
} 

.session-form h2 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

.session-form-cussion {
    width: 100%;
    height: 20px;
}

.session-form-cussion2 {
    width: 100%;
    height: 8px;
}

.session-form input {
    display: block;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.session-form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.session-form input:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

input::placeholder {
    font-weight: bold;
    opacity: 0.4;
    color: rgb(13, 12, 12);
}

.button-container {
  margin-top: 20px; /* Add space above the button */
  text-align: center;
}

.session-form button {
  height: 41.6px;
  display: inline-block; /* Changed from block to inline-block */
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.559);
  width: 250px;
  border-radius: 3px;
  padding: 9px 15px 11px 15px;
  font-size: 20px;
  color: black; 
  cursor: pointer;
  transition-duration: 0.25s;
}


.session-form button:hover {
    background-color: rgb(245, 247, 249);
}

.signup-form-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
}

.signup-form-container::-webkit-scrollbar {
    width: 10px;
}

.signup-form-container::-webkit-scrollbar-thumb {
    background: rgba(80, 163, 162, 0.8);
    border-radius: 10px;
}

.signup-form-container::-webkit-scrollbar-thumb:hover {
    background: rgba(80, 163, 162, 1);
}
