#run {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 15px auto; /* Center the box horizontally */
  box-shadow: 5px 5px 15px rgba(143, 199, 227, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content vertically */
  background-color: #fff;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.3s ease;
}


#run:hover {
  background-color: #f0f8ff; /* Light Blue */
  cursor: pointer;
}

#run-image {
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
}

.user-pic-name {
  display: flex;
  align-items: center;
}

#run-container {
  margin-left: 20px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

#run-author {
  color: #555; /* Matching color with date/time/pace fields */
  font-size: 16px; /* Adjust font size as needed */
  margin-bottom: 8px; /* Matching margin with date/time/pace fields */
}


#run-container span {
  color: #555;
  margin-bottom: 8px;
}

#run button,
#run .button-container a,
#run .button-container button,
#run .button-container .edit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #1c2de8;
    color: #fff;
    margin-right: 10px; /* Adjust margin to match the delete button */
  }

  #run .button-container .delete-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #e81c1c;
    color: #fff;
    margin-right: 10px;
  }


#run button:hover,
#run .button-container a:hover,
#run .button-container button:hover,
#run .button-container .edit-button:hover {
    background-color: #544fd9; /* Darker Tomato */
}

#run button:active,
#run .button-container a:active,
#run .button-container button:active,
#run .button-container .edit-button:active {
  transform: translateY(1px);
}

#run .button-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

#run .edit-button a {
  text-decoration: none;
  color: inherit;
}

#run .delete-button {
  background-color: #ff6347; /* Tomato */
  color: #fff;
  margin-left: 10px;
}

#run .delete-button:hover {
  background-color: #d9534f; /* Darker Tomato */
}

#run .miles-text {
  color: #008000; /* Green */
}
