/* RunCompose.css */

.run-compose-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this line */
  font-family: 'Arial', sans-serif;
}

.previous-run {
  flex: 1;
  text-align: center; /* Add this line */
  margin-left: -200px; /* Add this line */
  margin-right: 10px; /* Add this line */
}

.compose-run {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.compose-run input[type="number"],
.compose-run input[type="submit"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.compose-run input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.compose-run input[type="submit"]:hover {
  background-color: #45a049;
}

.errors {
  color: red;
  margin-top: 10px;
}

/* Typography */
h3 {
  margin-bottom: 15px;
  color: #333;
}


.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind other content */
  pointer-events: none; /* Ensure it doesn't interfere with user interaction */
}

/* Define the animation */
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

/* Apply the animation to the background */
.animated-background {
  animation: animatedBackground 20s infinite alternate; /* Adjust duration and other properties as needed */
  background: linear-gradient(45deg, #a49c99, #8f4964, #23A6D5, #23D5AB);
  background-size: 400% 400%; /* You can adjust this for different effects */
}
